// Variables de Bootstrap
$primary: #152ECA;
$success: #00c853;
$danger: #ff3b30;


$font-family-sans-serif: "Poppins", sans-serif;

$border-radius: 1rem;

// Importar Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";