<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .bg-button {
            background-color: #D9D9D9;
            color: black;
        }

        .bg-button:hover {
            background-color: blue;
            color: #D9D9D9;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{layout/sidebar :: sidebar}"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div th:if="${success}" class="alert alert-success alert-dismissible mt-3" th:text="${success}"></div>
                <div th:if="${error}" class="alert alert-danger alert-dismissible mt-3" th:text="${error}"></div>
                <div th:replace="~{${template}  :: content}">pedido</div>
            </main>
        </div>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>